# Client
CLIENT_PORT=8080
SERVER_ADDRESS=http://server:8090

# Server
SERVER_PORT=8090

DB_URL="jdbc:postgresql://db/"

DB_USER=changeme
DB_PASSWORD=changeme
DB_PORT=5432

AUTH_SECRET=generate-auth-secrets.sh
AUTH_PEPPER=generate-auth-secrets.sh
